
  
      
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
          <img src="https://www.clemson.edu/_images/home/TigerPaw_co.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Programmer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
              <a href="#" class="card-link">My Experience</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
          <img src="https://www.clemson.edu/_images/home/TigerPaw_co.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Trumpet Player</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
              <a href="#" class="card-link">My Experience</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ6DyagN1cC87PvJI73V45CVixM54b9J1wXg&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Scuba Diver</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
              <a href="/scuba-info" routerLink="/scuba-info" class="card-link">My Experience</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  